<div class="container">
  <div class="logo-container">
    <div class="logo">
      <!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 567.81 99.29" style="enable-background:new 0 0 567.81 99.29;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;}
          .st1{fill:#FFAAC4;}
          .st2{font-family:'Austina';}
          .st3{font-size:72px;}
        </style>
        <rect x="7" y="10.93" class="st0" width="559.81" height="84.14"/>
        <text transform="matrix(1 0 0 1 7 62.7124)" class="st1 st2 st3">Evelyn Mary Photography</text>
      </svg> -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 567.81 99.29" style="enable-background:new 0 0 567.81 99.29;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;}
          .st1{fill:#FFFFFF;}
          .st2{font-family:'Austina';}
          .st3{font-size:72px;}
        </style>
        <rect x="7" y="10.93" class="st0" width="559.81" height="84.14"/>
        <text transform="matrix(1 0 0 1 7 62.7124)" class="st1 st2 st3">evelyn mary photography</text>
      </svg>
    </div>
  </div>
  <!-- <div class="grid-container">
    <div class="grid-item"><img src="../assets/pink-flowe.JPG"></div>
    <div class="grid-item"><img src="../assets/pink-flowe.JPG"></div>
    <div class="grid-item"><img src="../assets/pink-flower.JPG"></div>
    <div class="grid-item"><img src="../assets/pink-flower.JPG"></div>
    <div class="grid-item"><img src="../assets/pink-flower.JPG"></div>
    <div class="grid-item"><img src="../assets/pink-flower.JPG"></div>
  </div> -->

  <div class="gallery">  
    <figure class="gallery_item gallery_item-1">    
      <img src="../assets/pink-flower.JPG" class="gallery_img" alt="Image 1">  
    </figure>  
    <figure class="gallery_item gallery_item-2">    
      <img src="../assets/hummingbird.JPG" class="gallery_img" alt="Image 2">  
    </figure>  
    <figure class="gallery_item gallery_item-3">    
      <img src="../assets/bug.JPG" class="gallery_img" alt="Image 3">  
    </figure>  
    <figure class="gallery_item gallery_item-4">    
      <img src="../assets/kin.JPG" class="gallery_img" alt="Image 4">  
    </figure> 
    <figure class="gallery_item gallery_item-1">    
      <img src="../assets/wood.JPG" class="gallery_img" alt="Image 1">  
    </figure>  
    <figure class="gallery_item gallery_item-2">    
      <img src="../assets/pink-flower.JPG" class="gallery_img" alt="Image 2">  
    </figure>  
    <figure class="gallery_item gallery_item-3">    
      <img src="../assets/hummingbird.JPG" class="gallery_img" alt="Image 3">  
    </figure>  
    <figure class="gallery_item gallery_item-4">    
      <img src="../assets/bug.JPG" class="gallery_img" alt="Image 4">  
    </figure> 
    <figure class="gallery_item gallery_item-1">    
      <img src="../assets/kin.JPG" class="gallery_img" alt="Image 1">  
    </figure>  
    <figure class="gallery_item gallery_item-2">    
      <img src="../assets/wood.JPG" class="gallery_img" alt="Image 2">  
    </figure>  
    <figure class="gallery_item gallery_item-3">    
      <img src="../assets/pink-flower.JPG" class="gallery_img" alt="Image 3">  
    </figure>  
    <figure class="gallery_item gallery_item-4">    
      <img src="../assets/hummingbird.JPG" class="gallery_img" alt="Image 4">  
    </figure> 
    <figure class="gallery_item gallery_item-1">    
      <img src="../assets/bug.JPG" class="gallery_img" alt="Image 1">  
    </figure>  
    <figure class="gallery_item gallery_item-2">    
      <img src="../assets/kin.JPG" class="gallery_img" alt="Image 2">  
    </figure>  
    <figure class="gallery_item gallery_item-3">    
      <img src="../assets/wood.JPG" class="gallery_img" alt="Image 3">  
    </figure>  
    <figure class="gallery_item gallery_item-4">    
      <img src="../assets/pink-flower.JPG" class="gallery_img" alt="Image 4">  
    </figure>
  </div>
</div>